/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header,
section,
aside,
nav,
footer {
    padding: 20px;
}

/* header and footer */

header,
footer {
    border-top: 5px solid #00AAFF;
    border-bottom: 5px solid #00AEEF;
}

/* WRITE YOUR CODE BELOW HERE */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

img{
    width: 300px;
    display: block;
    margin: auto;
}
  
p, li {
    font-family: 'PT Sans', sans-serif;
    line-height: 150%;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    text-indent: 20px;
}

h2{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

